
<!-- main slide includes search, current weather and weather forecast -->

<div class="mobile">
    <h1>this page is not optimized for mobile screen please use a computer</h1>
</div>
<div class="main" ng-controller="page">
     
    
        <div class="focus" >
            <div image-frame class = "frame" image-source="{{selectedDay.weatherID | weatherWallpaper}}" dimension="frameDimension" ></div>
            
            <!-- navbar with search form -->
             <div class="nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8">
                            <search-form callback="setWeatherForCity">
                            </search-form>
                        </div>
                    </div>
            </div>
                </div>

            <div class="information" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-6">
                            <h2>
                                {{selectedDay.city}}, {{selectedDay.description}}
                            </h2>
                            <h2>
                                {{selectedDay.date |date:'EEE dd/MM/yyyy'}}
                            </h2>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <weather-panel is-c="isItC" weather="selectedDay">
                            </weather-panel>
                        </div>
                    </div>
                </div>
            </div>





            <!-- showing the six weather forecast -->
            <div class="forecast">
                <div class="view">
                    <div class="container">
                        <div class="row">
                            <div class="slides">
                                <div class="col-md-2 col-sm-2 noPadding" ng-repeat="day in forecast | limitTo:6:0">
                                    <forecast-panel active="{{(weatherIndex==$index)?'true':''}}" is-c="isItC" ng-click="selectDay($index)" weather="day">
                                    </forecast-panel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
          
</div>
