<div class="smallDay" ng-class="{active:active}">
    <h2>
        {{weatherInfo.date | date:'EEE'}}
    </h2>
    <img alt="Image" class="img-responsive" ng-src="{{weatherInfo.weatherID | weatherIcon}}">
        <div class="temps detailedInfo">
            <h2>{{convert(weatherInfo.temp) | number:0}}</h2>
            <span class="type" ng-show="isItC">
                °C
            </span>
            <span class="type" ng-hide="isItC">
                °F
            </span>
        </div>
    
</div>